@model StatusViewModel
<div class="container">
    <h1>Syscheck</h1>

    <h4>CPU</h4>
    <p>@Model.CpuName</p>
    <br />
    <h4>Nucleos</h4>
    <p>@Model.CpuCores</p>
    <br />
    <h4>SO</h4>
    <p>@Model.OsName</p>
    <br />
    <h4>RAM livre</h4>
    <p>@Model.RamMemory GB</p>
    <br />
    <h4>Download Speed</h4>
    <p>@Model.DownloadSpeed Mb/s</p>
    <br />
    <h4>Upload Speed</h4>
    <p>@Model.UploadSpeed Mb/s</p>
    <br />
    <h4>Tem Webcam</h4>
    <p>@Model.Webcam</p>
    <br />
    <h4>Nome da Máquina</h4>
    <p>@Model.MaquinaNome</p>
                

